<footer class="d-flex flex-wrap justify-content-between align-items-center
               py-0 mb-0 mt-1 py-sm-1 my-sm-1 py-lg-2 my-lg-2 border-top">
  {# <p class="col-md-4 mb-0 text-body-secondary">&copy; 2023 VLN, Inc</p> #}
  <ul class="nav col-md-6 justify-content-end">
    <li class="nav-item"><a href="#" class="nav-link px-2 text-body-secondary">Home</a></li>
    <li class="nav-item"><a href="#" class="nav-link px-2 text-body-secondary">Features</a></li>
    <li class="nav-item"><a href="#" class="nav-link px-2 text-body-secondary">Pricing</a></li>
    <li class="nav-item"><a href="#" class="nav-link px-2 text-body-secondary">FAQs</a></li>
    <li class="nav-item"><a href="#" class="nav-link px-2 text-body-secondary">About</a></li>
  </ul>
  <p>© allido</p>    
</footer>