{% load static %}
{# top menu #}

<nav class="navbar navbar-expand-sm al-navbar-bg navbar-dark">
  <div class="container-fluid">
      <a href="{% url 'pages:index' %}" class="ms-lg-5 me-2">
          <img src="{% static 'img/logo.png' %}" alt="all i do" height="40">
      </a>
      <a href="{% url 'pages:index' %}" class="navbar-brand me-1 fw-bolder fs-4 ">ALL I DO</a>
      <button class="navbar-toggler " type="button"
              data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
              aria-controls="navbarSupportedContent" aria-expanded="false"
              aria-label="Navigation switch">
          <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <div class="navbar-nav flex-fill d-flex flex-wrap justify-content-around mb-2 mb-lg-0 ">
            {% for event_type in event_types %}
              <a href="#" class="al-navbar-text fw-bold  ms-2 me-1 p-2 d-none d-lg-block rounded">
                {{ event_type }}
              </a>
            {% endfor %}
          </div>

          <div class="nav justify-content-center justify-content-sm-end flex-sm-nowrap">
              <a data-bs-toggle="collapse" href="#searchBar" aria-expanded="true"
                 aria-controls="eventTypes" role="button" class="nav-link text-center al-navbar-text rounded">
                {% include "includes/svg/svg_search.html" %} 
              </a>

              {% if user.is_authenticated %}
                  <a class="nav-link text-center al-navbar-text rounded"
                     href="#">
                    {% include "includes/svg/svg_person_fill.html" %} 
                  </a>
              {% else %}
                  <a class="nav-link text-center al-navbar-text rounded"
                     href="{% url 'login' %}">
                    {% include "includes/svg/svg_person.html" %}
                  </a>
              {% endif %}
          </div>
      </div>
  </div>
</nav>

<div class="row collapse hide me-0 mt-1 mx-0 mb-1 mb-sm-0 mx-sm-3 mx-lg-5" id="searchBar">
  <form class="d-flex" role="search">
      <input class="form-control al-input me-2 ms-sm-1  ms-md-3  ms-lg-5" type="search"
             placeholder="Search"
             aria-label="Search">
      <button class="btn al-navbar-btn me-sm-1 me-md-1 me-lg-5" type="submit">
          'Search'
      </button>
  </form>
</div>

{# end top menu #}   